**Q1**: Explain the properties of list and tuple in the markdown cell.

**List**
+ List are mutable
+ Lists are ordered and indexed
+ Duplicates are allowed in a list
+ written with []

**Tuple**
+ Tuples are immutable
+ tuples are ordered and indexed
+ Duplicates are allowed
+ written with () or we can also create directly without Parenthesis

**Q2**: Create a list containing the numbers 1 to 5.

In [1]:
list1 = [1,2,3,4,5]
print(list1)

[1, 2, 3, 4, 5]

**Q3**: Access the third element of the list [10, 20, 30, 40, 50].

In [2]:
list2 = [10, 20, 30, 40, 50]
list2[2]

30

**Q4**: Change the second element of the list [1, 2, 3, 4, 5] to 10

In [3]:
print(list1)
list1[1]=10
print(list1)

[1, 2, 3, 4, 5]
[1, 10, 3, 4, 5]

**Q5**: Add the element 6 to the end of the list [1, 2, 3, 4, 5].

In [7]:
list1 = [1,2,3,4,5]
print(list1)
list1.append(6)
print(list1)

[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5, 6]

**Q6**: Concatenate the lists [1, 2, 3] and [4, 5, 6].

In [12]:
list1 = [1, 2, 3] 
list2 = [4, 5, 6]
print(list1 , list2)
list3 = list1 + list2
print(list3)

[1, 2, 3] [4, 5, 6]
[1, 2, 3, 4, 5, 6]

**Q7**: Create a tuple containing the strings "apple", "banana", and "cherry".

In [13]:
tup1 = "apple","banana","cherry"
print(tup1)

('apple', 'banana', 'cherry')

**Q8**: Access the first element of the tuple ("apple", "banana", "cherry").

In [14]:
tup1[0]

'apple'

**Q9** : Check if the number 4 is in the list [1, 2, 3, 4, 5].

In [15]:
list4 = [1, 2, 3, 4, 5]
4 in list4

True

**Q10**: Find the length of the list [10, 20, 30, 40, 50].

In [16]:
list5 = [10, 20, 30, 40, 50]
len(list5)

5

**Q11**: Slice the list [10, 20, 30, 40, 50] to get the sublist [20, 30, 40]

In [19]:
list5 = [10, 20, 30, 40, 50]
print(list5[1:4])

[20, 30, 40]

**Q12**: Unpack the tuple (10, 20, 30) into three variables.

In [23]:
tup2 = 10,20,30
a,b,c = tup2
print(a,b,c,sep='\n')

10
20
30

**Q13**: Count the number of times the element 2 appears in the list [1, 2, 2, 3, 4, 2,5]

In [24]:
list6 = [1, 2, 2, 3, 4, 2,5]
list6.count(2)

3

**Q14**: Find the maximum element in the list [1, 2, 3, 4, 5].

In [27]:
list7 = [1, 2, 3, 4, 5]
print(max(list7))

5

**Q15**: Convert the list [1, 2, 3, 4, 5] to a tuple

In [28]:
list7 = [1,2,3,4,5]
print(list7)
tup1 = tuple(list7)
print(tup1)

[1, 2, 3, 4, 5]
(1, 2, 3, 4, 5)

**Q16**: Extend the list [1, 2, 3] with elements from the list [4, 5, 6].

In [30]:
list1 = [1,2,3]
list2 = [4,5,6]
list1.extend(list2)
print(list1)

[1, 2, 3, 4, 5, 6]

**Q17**: Reverse the list [1, 2, 3, 4, 5].

In [31]:
list2 = [1, 2, 3, 4, 5]
list2 = list2[::-1]
print(list2)

[5, 4, 3, 2, 1]

**Q18**: Access the element 3 in the nested list [[1, 2], [3, 4], [5, 6]].

In [32]:
list3 = [[1, 2], [3, 4], [5, 6]]
print(list3[1][0])

3

**Q19**: Remove the element 4 from the list [1, 2, 3, 4, 5].

In [34]:
list2 = [1, 2, 3, 4, 5]
list2.remove(4)
print(list2)

[1, 2, 3, 5]

**Q20**: Convert the tuple (1, 2, 3, 4, 5) to a list.

In [35]:
tup1 = 1,2,3,4,5
list1 = list(tup1)
list1

[1, 2, 3, 4, 5]

**Q21:** Find the index of the element 3 in the list [1, 2, 3, 4, 5].

In [36]:
list1 = [1, 2, 3, 4, 5]
list1.index(3)

2

**Q22**: Explain why the following operation fails: t = (1, 2, 3); t[0] = 0.

In the second step we are trying to assign 0 as the first element in t tuple. Since, tuple is immutable we can't change already existing tuple.

**Q23**: You have a list of your favorite Marvel superheroes.
heroes=['spider man','thor','hulk','iron man','captain america']  Using this list,
+ find Length of the list

In [90]:
heroes=['spider man','thor','hulk','iron man','captain america']
len(heroes)

5

+ Add 'black panther' at the end of this list.

In [91]:
heroes.append('black panther')
print(heroes)

['spider man', 'thor', 'hulk', 'iron man', 'captain america', 'black panther']

+ You realize that you need to add 'black panther' after 'hulk', so remove it from the list first and then add it after 'hulk'.

In [92]:
heroes.remove('black panther')
heroes.insert(3,'black panther')
print(heroes)

['spider man', 'thor', 'hulk', 'black panther', 'iron man', 'captain america']

+ Now you don't like thor and hulk because they get angry easily 🙂. So you want to remove thor and hulk from the list and replace them with Doctor Strange (because he is cool).Do that with one line of code.

In [93]:
heroes[1:3] = ['Doctor Stramge']
print(heroes)

['spider man', 'Doctor Stramge', 'black panther', 'iron man', 'captain america']

+ Sort the list in alphabetical order.

In [94]:
heroes.sort()
print(heroes)

['Doctor Stramge', 'black panther', 'captain america', 'iron man', 'spider man']

**Q24**: Write a program to add item 7000 after 6000 in the following Python List:
	list1 = [10, 20, [300, 400, [5000, 6000], 500], 30, 40

In [98]:
list1 = [10, 20, [300, 400, [5000, 6000], 500], 30, 40]
list1[2][2].append(7000)
print(list1)

[10, 20, [300, 400, [5000, 6000, 7000], 500], 30, 40]