**Q1:** Write a function square(x) that returns the square of the number x.

In [10]:
num = int(input("Enter a number"))
def udf_square(num):
    sqr = (num**2)
    return sqr
udf_square(num)

Enter a number 3

9

**Q2:** Write a function to_uppercase(s) that converts all characters in a string s to uppercase

In [12]:
str1 = input("Enter a string:")
def to_uppercase(str1):
    str_upper = str1.upper()
    print(str_upper)
to_uppercase(str1)

Enter a string: hii

HII

**Q3:** Write a function find_max(a, b) that returns the maximum of two numbers a and b

In [13]:
a = int(input("Enter 1st number:"))
b = int(input("Enter 2nd number:"))

def find_max(a,b):
    if a>b :
        return(f'{a} is max')
    elif b>a:
        return(f'{b} is max')
    else:
        return('Both are same')
find_max(a,b)     

# or we can also do this
# def find_max(a,b):
#     return(max(a,b))

Enter 1st number: 3
Enter 2nd number: 4

'4 is max'

**Q4:** Write a function count_vowels(s) that returns the number of vowels (a, e, i, o, u) in a string s.

In [16]:
str2 = input("Enter a string")
def count_vowels(str2):
    count = 0
    for i in str2.lower():
        if i in ['a','e','i','o','u']:
            count = count+1
    return count
count_vowels(str2)

Enter a string Ujwala

3

**Q5:** Write a function concat_strings(s1, s2) that returns the concatenation of two strings s1 and s2.

In [17]:
str1 = input("Enter a string")
str2 = input("Enter 2nd string")
def concat_strings(str1,str2):
    final_str = str1 + str2
    return final_str
concat_strings(str1,str2)

Enter a string Hii
Enter 2nd string Hello

'HiiHello'

**Q6:** Write a function remove_duplicates(lst) that takes a list lst and returns a new list with duplicate elements removed.

In [21]:
lst = [1,2,3,1,4,2,65,2,6,9,3]
lst2 = []
def remove_duplicates2(lst):
    for i in lst:
        if i not in lst2:
            lst2.append(i)
    return lst2
remove_duplicates2(lst)

# or we can also do it in this way

# def remove_duplicates(lst):
#     return(list(set(lst)))
# remove_duplicates(lst)

[1, 2, 3, 4, 65, 6, 9]

**Q7:** Write a function char_frequency(s) that returns a dictionary where the keys are characters in the string s and the values are the number of times each character appears.

In [26]:
s = input("Enter a string")
def char_frequency(s):
    frequency = {}
    for char in s:
        if char in frequency:
            frequency[char] += 1
        else:
             frequency[char] = 1
    return frequency
char_frequency(s)

Enter a string Innomatics

{'I': 1, 'n': 2, 'o': 1, 'm': 1, 'a': 1, 't': 1, 'i': 1, 'c': 1, 's': 1}

**Q8:** Write a function sum_even_numbers(lst) that returns the sum of all even numbers in a list lst.

In [28]:
lst = [1,2,3,4,5,2,6,9,5]
def sum_even_numbers(lst):
    sum_even = 0
    for i in lst:
        if i%2==0:
            sum_even += i
    return sum_even
sum_even_numbers(lst)

14

**Q9:** Using in-built function filter() with a lambda function filter even numbers from a given list.

In [32]:
num = [17, 20, 32, 45, 53, 61, 72, 84, 97]
even_number = list(filter(lambda i:i%2==0, num))
print(even_number)

[20, 32, 72, 84]

**Q10:** Write a Python function to find the maximum of three numbers.

In [52]:
a,b,c = int(input("Enter a value")), int(input("Enter b value")), int(input("Enter c value"))
def find_max_3(a,b,c):
    if a>b:
        if a>c:
            print(f'{a} is max')
        else:
            print(f'{c} is max')
    elif b>a:
        if b>c:
            print(f'{b} is max')
        else:
            print(f'{c} is max')
    elif a==b:
        if a>c:
            print(f'{a} is max')
        elif a==c:
            print('a,b,c are same')
        else:
            print(f'{c} is max')
find_max_3(a,b,c)

# or we can directly use max function
#def find_max_3(a,b,c):
#    return(max(a,b,c))

Enter a value 4
Enter b value 5
Enter c value 3

5 is max

**Q11:** Write a Python function to check whether a number falls within a given range.

In [51]:
def in_range(start,num,end):
    if start<=num<=end :
        print(f'Number {num} falls under the given range {start}-{end}.')
start = 14
end = 60
num = int(input("Enter a number to check"))
in_range(start,num,end)

Enter a number to check 29

Number 29 falls under the given range 14-60.

**Q12:** Write a Python function that takes a list and returns a new list with distinct elements from the first list.

In [55]:
def distinct_ele(lst):
    return(list(set(lst)))
lst = [1,3,2,3,1.5,1,5,1,'pink','orange','black','pink']
distinct_ele(lst)

[1, 2, 3, 1.5, 5, 'pink', 'black', 'orange']

**Q13:** Say, a=27, b=15. Create a lambda function that multiplies argument 'a' with argument 'b' and prints the result.

In [63]:
a=27
b=15
mul = (lambda a, b: a * b)
mul(a,b)

405

**Q14:** Use map() with a lambda function to square each element of a given list.
list1 = [32,45,67,83,2,4,8,10]

In [66]:
list1 = [32,45,67,83,2,4,8,10]
square_list =list(map(lambda i:i**2 , list1))
print(square_list)

[1024, 2025, 4489, 6889, 4, 16, 64, 100]

**Q15:** Filter the palindromes from a given iterable.  
list2= [Java, mom, dad, nun, python] 
Expected o/p : [ mom, dad ,nun]

In [68]:
list2= ['Java', 'mom', 'dad', 'nun', 'python'] 
palindrome = list(filter(lambda i:i==i[::-1], list2))
print(palindrome)

['mom', 'dad', 'nun']

**Q16:** Use a lambda function to create a grade list from a list of student scores.
```
scores = [88, 92, 78, 95, 86] 
A grade if score greater than 90 
B grade if score greater than 80 
else grade C.
Expected Output: grade= ['B', 'A', 'C', 'A', 'B']
```

In [76]:
scores = [88, 92, 78, 95, 86] 
get_grade = lambda i:'A' if i > 90 else ('B' if i > 80 else 'C')
Grade = [get_grade(i) for i in scores]
print(Grade)

['B', 'A', 'C', 'A', 'B']